<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
  <div class="mt-4">
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Enter first name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Enter last name" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Select birth date" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Street + House No.</mat-label>
      <input matInput placeholder="Enter street and house number" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>Zip Code</mat-label>
      <input matInput placeholder="Enter zip code" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput placeholder="Enter city" />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button>Cancel</button>
  <button mat-raised-button color="primary" cdkFocusInitial>Save</button>
</mat-dialog-actions>
